.game_cont {
    display: flex;
    float: left;
}

.food_cont {
    background-color: cadetblue;
    border-radius: 10px;
    width: 250px;
    /* min-height: 400px; */
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    gap: 2px;
}

.food_basket {
    background-color: red;
    width: 100px;
    height: 70px;
    margin: 0 auto;
}

.food_item {
    background-color: rgb(255, 96, 96);
    height: 40px;
    width: 40px;
}

.cauldron {
    background-color: grey;
    height: 200px;
    width: 200px;
    justify-self: center;
    align-self: center;
    margin: 10px auto 10px auto;
}

.cauldron_slot {
    border: 2px solid black;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    padding: 5px;
}

.cauldron_inv {
    display: flex;
    float: left;
    gap: 5px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

.cauldron_container {
    display: inline-block;
    border-radius: 10px;
    padding: 15px;
    background-color: aquamarine;
    overflow: hidden;
    max-height: 300px;
}